<p>img-game works!</p>
<h1 (click)="test()">aaaaaaa</h1>

<div class="imgGame">
  <img (click)="test()" src="{{ logo }}" alt="" />
  <img src="assets/img/logoHeart.png" alt="" />
  <img src="assets/img/logoChaos.png" alt="" />
  <img src="assets/img/logoFractal.png" alt="" />
</div>
<!-- <div class="imgGame">
  <img src="assets/img/logoHeart.png" alt="" />
</div>
<div class="imgGame">
  <img src="assets/img/logoChaos.png" alt="" />
</div>
<div class="imgGame">
  <img src="assets/img/logoFractal.png" alt="" />
</div> -->
