<p>img-game works!</p>

<div class="imgGame">
  <h1>{{ titulo }}</h1>
  <img src="{{ img }}" alt="" />
  <!-- <h1>{{ name }}</h1> -->
  <!-- <img (click)="test()" src="{{ logo }}" alt="" /> -->
  <!-- <img src="assets/img/logoHeart.png" alt="" />
  <img src="assets/img/logoChaos.png" alt="" />
  <img src="assets/img/logoFractal.png" alt="" /> -->
</div>
<!-- <div class="imgGame">
  <img src="assets/img/logoHeart.png" alt="" />
</div>
<div class="imgGame">
  <img src="assets/img/logoChaos.png" alt="" />
</div>
<div class="imgGame">
  <img src="assets/img/logoFractal.png" alt="" />
</div> -->
