<table>
  <tbody>
    <tr>
      <td (click)="getClick($event)" id="1" class="black"></td>
      <td (click)="getClick($event)" id="2" class="white"></td>
      <td (click)="getClick($event)" id="3" class="black"></td>
      <td (click)="getClick($event)" id="4" class="white"></td>
      <td (click)="getClick($event)" id="5" class="black"></td>
      <td (click)="getClick($event)" id="6" class="white"></td>
      <td (click)="getClick($event)" id="7" class="black"></td>
      <td (click)="getClick($event)" id="8" class="white"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="9" class="white"></td>
      <td (click)="getClick($event)" id="10" class="black"></td>
      <td (click)="getClick($event)" id="11" class="white"></td>
      <td (click)="getClick($event)" id="12" class="black"></td>
      <td (click)="getClick($event)" id="13" class="white"></td>
      <td (click)="getClick($event)" id="14" class="black"></td>
      <td (click)="getClick($event)" id="15" class="white"></td>
      <td (click)="getClick($event)" id="16" class="black"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="17" class="black"></td>
      <td (click)="getClick($event)" id="18" class="white"></td>
      <td (click)="getClick($event)" id="19" class="black"></td>
      <td (click)="getClick($event)" id="20" class="white"></td>
      <td (click)="getClick($event)" id="21" class="black"></td>
      <td (click)="getClick($event)" id="22" class="white"></td>
      <td (click)="getClick($event)" id="23" class="black"></td>
      <td (click)="getClick($event)" id="24" class="white"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="25" class="white"></td>
      <td (click)="getClick($event)" id="26" class="black"></td>
      <td (click)="getClick($event)" id="27" class="white"></td>
      <td (click)="getClick($event)" id="28" class="black"></td>
      <td (click)="getClick($event)" id="29" class="white"></td>
      <td (click)="getClick($event)" id="30" class="black"></td>
      <td (click)="getClick($event)" id="31" class="white"></td>
      <td (click)="getClick($event)" id="32" class="black"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="33" class="black"></td>
      <td (click)="getClick($event)" id="34" class="white"></td>
      <td (click)="getClick($event)" id="35" class="black"></td>
      <td (click)="getClick($event)" id="36" class="white"></td>
      <td (click)="getClick($event)" id="37" class="black"></td>
      <td (click)="getClick($event)" id="38" class="white"></td>
      <td (click)="getClick($event)" id="39" class="black"></td>
      <td (click)="getClick($event)" id="40" class="white"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="41" class="white"></td>
      <td (click)="getClick($event)" id="42" class="black"></td>
      <td (click)="getClick($event)" id="43" class="white"></td>
      <td (click)="getClick($event)" id="44" class="black"></td>
      <td (click)="getClick($event)" id="45" class="white"></td>
      <td (click)="getClick($event)" id="46" class="black"></td>
      <td (click)="getClick($event)" id="47" class="white"></td>
      <td (click)="getClick($event)" id="48" class="black"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="49" class="black"></td>
      <td (click)="getClick($event)" id="50" class="white"></td>
      <td (click)="getClick($event)" id="51" class="black"></td>
      <td (click)="getClick($event)" id="52" class="white"></td>
      <td (click)="getClick($event)" id="53" class="black"></td>
      <td (click)="getClick($event)" id="54" class="white"></td>
      <td (click)="getClick($event)" id="55" class="black"></td>
      <td (click)="getClick($event)" id="56" class="white"></td>
    </tr>
    <tr>
      <td (click)="getClick($event)" id="57" class="white"></td>
      <td (click)="getClick($event)" id="58" class="black"></td>
      <td (click)="getClick($event)" id="59" class="white"></td>
      <td (click)="getClick($event)" id="60" class="black"></td>
      <td (click)="getClick($event)" id="61" class="white"></td>
      <td (click)="getClick($event)" id="62" class="black"></td>
      <td (click)="getClick($event)" id="63" class="white"></td>
      <td (click)="getClick($event)" id="64" class="black"></td>
    </tr>
  </tbody>
</table>
