.container
    height: 800px
    width: 800px
    border: 1px solid black
    display: inline-grid
    grid-template-columns: auto auto
    gap: 50px 50px
    justify-content: space-around
    align-content: center
    

//     #outer {
//   border: 0.05em solid red;
//   width:100%;
//   display: flex;
//   justify-content: center;
// }